<a href="https://colab.research.google.com/github/krrish02/Python/blob/main/Amazon%20Reco_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
!pip install surprise

Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 49 kB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1619390 sha256=5c23efb5032c51d010121f8dc0c36e38ba554dd55647027eaf5a862f90d86cbf
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [6]:
import surprise
import io

In [1]:
from google.colab import files

uploaded = files.upload()

Saving Amazon - Movies and TV Ratings.csv to Amazon - Movies and TV Ratings.csv

In [7]:
from surprise.model_selection import GridSearchCV
from surprise import Reader
from surprise import accuracy
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import SVD
from surprise.model_selection import cross_validate

In [8]:
df = pd.read_csv(io.BytesIO(uploaded['Amazon - Movies and TV Ratings.csv']))
print(df)

             user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0     A3R5OBKS7OM2IR     5.0     5.0  ...       NaN       NaN       NaN
1      AH3QC2PC1VTGP     NaN     NaN  ...       NaN       NaN       NaN
2     A3LKP6WPMP9UKX     NaN     NaN  ...       NaN       NaN       NaN
3      AVIY68KEPQ5ZD     NaN     NaN  ...       NaN       NaN       NaN
4     A1CV1WROP5KTTW     NaN     NaN  ...       NaN       NaN       NaN
...              ...     ...     ...  ...       ...       ...       ...
4843  A1IMQ9WMFYKWH5     NaN     NaN  ...       NaN       NaN       5.0
4844  A1KLIKPUF5E88I     NaN     NaN  ...       NaN       NaN       5.0
4845   A5HG6WFZLO10D     NaN     NaN  ...       NaN       NaN       5.0
4846  A3UU690TWXCG1X     NaN     NaN  ...       NaN       NaN       5.0
4847   AI4J762YI6S06     NaN     NaN  ...       NaN       NaN       5.0

[4848 rows x 207 columns]

In [9]:
df.head()

          user_id  Movie1  Movie2  ...  Movie204  Movie205  Movie206
0  A3R5OBKS7OM2IR     5.0     5.0  ...       NaN       NaN       NaN
1   AH3QC2PC1VTGP     NaN     NaN  ...       NaN       NaN       NaN
2  A3LKP6WPMP9UKX     NaN     NaN  ...       NaN       NaN       NaN
3   AVIY68KEPQ5ZD     NaN     NaN  ...       NaN       NaN       NaN
4  A1CV1WROP5KTTW     NaN     NaN  ...       NaN       NaN       NaN

[5 rows x 207 columns]

In [10]:
df.shape

(4848, 207)

In [11]:
df_org = df.copy()

In [12]:
df.describe().T

          count      mean       std  min   25%  50%  75%  max
Movie1      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie2      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie3      1.0  2.000000       NaN  2.0  2.00  2.0  2.0  2.0
Movie4      2.0  5.000000  0.000000  5.0  5.00  5.0  5.0  5.0
Movie5     29.0  4.103448  1.496301  1.0  4.00  5.0  5.0  5.0
...         ...       ...       ...  ...   ...  ...  ...  ...
Movie202    6.0  4.333333  1.632993  1.0  5.00  5.0  5.0  5.0
Movie203    1.0  3.000000       NaN  3.0  3.00  3.0  3.0  3.0
Movie204    8.0  4.375000  1.407886  1.0  4.75  5.0  5.0  5.0
Movie205   35.0  4.628571  0.910259  1.0  5.00  5.0  5.0  5.0
Movie206   13.0  4.923077  0.277350  4.0  5.00  5.0  5.0  5.0

[206 rows x 8 columns]

In [19]:
### Movie with highest views

In [20]:
df.describe().T['count'].sort_values(ascending=False)[:1].to_frame() #---Movie127

           count
Movie127  2313.0

In [21]:
### Movie with highest Ratings

In [22]:
df.drop('user_id',axis=1).sum().sort_values(ascending=False)[:1].to_frame()  #---Movie127

               0
Movie127  9511.0

In [23]:
### Top 5 movies with the maximum ratings

In [24]:
df.drop('user_id',axis=1).mean().sort_values(ascending=False)[:5].to_frame()

            0
Movie1    5.0
Movie55   5.0
Movie131  5.0
Movie132  5.0
Movie133  5.0

In [25]:
### Top 5 movies with the least audience

In [26]:
df.describe().T['count'].sort_values(ascending=True)[:5].to_frame()

          count
Movie1      1.0
Movie71     1.0
Movie145    1.0
Movie69     1.0
Movie68     1.0

In [ ]:
df_melt = df.melt(id_vars = df.columns[0],value_vars=df.columns[1:],var_name="Movies",value_name="Rating")

In [ ]:
df_melt

               user_id    Movies  Rating
0       A3R5OBKS7OM2IR    Movie1     5.0
1        AH3QC2PC1VTGP    Movie1     NaN
2       A3LKP6WPMP9UKX    Movie1     NaN
3        AVIY68KEPQ5ZD    Movie1     NaN
4       A1CV1WROP5KTTW    Movie1     NaN
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[998688 rows x 3 columns]

In [ ]:
rd = Reader()
data = Dataset.load_from_df(df_melt.fillna(0),reader=rd)
data

In [ ]:
param_grid = {'n_epochs':[20,30],
             'lr_all':[0.005,0.001],
             'n_factors':[50,100]}

In [ ]:
gs = GridSearchCV(SVD,param_grid,measures=['rmse','mae'],cv=3)
data1 = Dataset.load_from_df(df_melt.fillna(df_melt['Rating'].mean()),reader=rd)
gs.fit(data1)

In [ ]:
gs.best_score

{'mae': 0.008903737291127006, 'rmse': 0.08472330994563898}

In [ ]:
print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

0.08472330994563898
{'n_epochs': 30, 'lr_all': 0.001, 'n_factors': 50}